ENVIRONMENT=development
JWT_SECRET=FOO_BAR
DATABASE_URL=postgresql://dev_user:dev_password@127.0.0.1:5432/dev_db
REDIS_URL=redis://:dev_redis_password@127.0.0.1:6379
S3_ENDPOINT=localhost
S3_PORT=9000
S3_ACCESS_KEY=dev_minio_admin
S3_SECRET_KEY=dev_minio_password
S3_USE_SSL=false
S3_BUCKET=game-assets